

html { 
  background: url("greenish.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*body { /* Visual */
  /*background-image: url("greenish.png");
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-size: 100% 100%;*/

h1 {
font-size: 50px;
margin-top: .33em;
margin-bottom: .5em;
}

h1, h2, p {
font-family: 'IM Fell English', serif;
color: #325a32;
}

p {
font-size: 25px;
}

li {
color: #325a32;  
}


#welcome{
margin-top:15px;
margin-bottom: 500px;
margin-left: 60px;
padding-right: 10px;
padding-left: 30px;
/* padding-right: 15px;*/
height: 320px;
width: 540px;
border-radius: 25px;  
/* background-color:#eef8b1;*/
background-color: #f4eee4;
border: 3px;
border-color: #325a32;
border-style: ridge;
}

#main_head {
margin-top: 30px;
 /* margin-left: 70px; */
}

#button_holder {
width: 540px;
margin-top: 25px;
}

button {
  font-size: 20px;
  font-family: 'IM Fell English', serif;
  height: 40px;  
  border-color: #325a32;
  color:#f4eee4;
  background-color: #325a32;
  /*margin-top: 10px;*/
  
}

#logIn {
  width: 180px;
  margin-left: 20px;
}

.w3-modal-content {
    margin-top: 60px;
    margin-left: 20px;
    background-color: #f4eee4;
    height: 270px;
    width: 290px;
    padding: 20px;
    padding-left: 30px;
    border: 3px;
    border-radius: 10px;
    border-color: #325a32;
    border-style: ridge;

}

.modalText {
    font-family: 'IM Fell English', serif;
    font-size: 20px;
    color: #325a32;  
}

.box {
    width: 275px;
    margin-bottom: 15px;
}

#modalButtonBox {
    width: 320px;
    height: 70px;
    margin-top: 20px;
}

#logInModal {
    width: 100px;
}

#cancelModal {
    width: 100px;
    margin-left: 70px;
}

#create_acct {
  width: 180px;
  margin-left: 100px;
}

#submit {
  width: 90px;
}

#subhead {
 /* margin-left: 70px; */
}


@media only screen and (max-width: 360px){

  h1 {
    font-size: 20px;
    }
    
  h2 {
    font-size: 10px;
    }
    
  body {
    background-position: left, bottom;
    background-size: cover;
    }
    
  /*#main_head {
    margin-top: 5px;
    margin-left: 70px;
  }*/
    
  #welcome {
    margin-top: 15px;
    margin-left: 0px;
    padding: 10px;
    height: 180px;
    width: 200px;
    border-radius: 10px;  
    background-color: #f4eee4;
    border: 3px;
    border-color: #325a32;
    border-style: ridge;
    }
    
  #button_holder {
      width: 200px;
      margin-top: 10px;
  }

  button {      
    margin-top: 10px;
    margin-left: 60px;
  }   
}


@media only screen and (max-width: 411px) {

#welcome {
margin-left: 0px;
}  

}



@media only screen and (max-width: 640px) {

#welcome {
  color: red;
  width: 300px;
  height: 110px;
  padding-left: 0px;
}  

#button_holder {
  width: 300px;
  margin-top: 10px;
}

#logIn {
  width: 30px;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 5px;
}

#create_acct {
  width: 30px;
  font-size: 12px;
  /* margin-top: 10px; */
  margin-left: 30px;
}

}


/* mobile display - 731 and less */

@media only screen and (max-width: 731px){

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 15px;
  }

  body {
    background-position: left, bottom;
    background-size: cover;
    }

  #main_head {
    margin-top: 5px;
     /* margin-left: 70px; */
    }

  #welcome{
    margin-top:20px;
    margin-left: 20px;
    padding: 15px;
    height: 200px;
    width: 330px;
    border-radius: 20px;  
    /* background-color:#eef8b1;*/
    background-color: #fbfccb;
    border: 3px;
    border-color: #325a32;
    border-style: ridge;
    }

    button {
    margin-top: 10px;
    margin-left: 120px;
    }

    #logIn {
      width: 100px;
      font-size: 12px;
      /* margin-top: 10px; */
      margin-left: 30px;
    }

    #create_acct {
      width: 100px;
      font-size: 12px;
      /* margin-top: 10px; */
      margin-left: 30px;
    }

}



@media only screen and (max-width: 736px){

  h1 {
    font-size: 25px;
    }
  
  h2 {
      font-size: 15px;
    }
  
  body {
    background-position: left, bottom;
    background-size: cover;
    }
  
  #main_head {
    margin-top: 5px;
    /* margin-left: 70px; */
    }
  
  #welcome{
    margin-top:20px;
    margin-left: 20px;
    padding: 15px;
    height: 200px;
    width: 330px;
    border-radius: 20px;  
    /* background-color:#eef8b1;*/
    background-color: #f4eee4;
    border: 3px;
    border-color: #325a32;
    border-style: ridge;
    }
  
  button {
    margin-top: 10px;
    margin-left: 30px;
    }
  
}

/* display for a tablet 768px or smaller */

@media only screen and (max-width: 768px) {

  h1 {
   font-size: 25px;
  } 
  
  h2 {
    font-size: 18px;
  }
  
  #welcome{
    margin-top:20px;
    margin-left: 20px;
    padding: 10px;
    height: 200px;
    width: 440px;
    border-radius: 20px;  
    background-color:#f4eee4;
    border: 3px;
    border-color: #325a32;
    border-style: ridge;
    }
  
    button { 
      margin-top: 0px;
      margin-left: 30px;
    }
       
  }



@media only screen and (max-width: 823px) {

  h1 {
   font-size: 20px;
  } 

  h2 {
    font-size: 15px;
   }
  
   #main_head {
    margin-top: 10px;
     /* margin-left: 70px; */
    }    


  #welcome{
    margin-top:20px;
    margin-left: 20px;
    padding: 15px;
    height: 180px;
    width: 330px;
    border-radius: 25px;  
    background-color:#f4eee4;
    border: 3px;
    border-color: #325a32;
    border-style: ridge;
    }

 
    #logIn {
      margin-left: 15px;
      font-size: 15px;
      width: 120px;
    }

    #create_acct {
      margin-left: 40px;
      font-size: 15px;
      width: 120px;
    }
      

}





    
    

